* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: 'rubik';
}
#page-wrapper {
  transition: transform 0.4s ease;
  position: relative;
  z-index: 0;
}

body.menu-open #page-wrapper{
  transform: translateX(-3%);
}
main{
    transition: transform .4s ease;
}
body.menu-open main{
    transform: translateX(-12%);
}
.desna_glava{
    transition: transform .4s ease;
    width: fit-content;
}
body.menu-open .desna_glava{
    transform: translateX(-100%);
}
@media (max-width: 1629px){
  body.menu-open .desna_glava{
    transform: translateX(-150%);
  }
}
@media (max-width: 1327px){
  body.menu-open .desna_glava{
    transform: translateX(-170%);
  }
}
@media (max-width: 1185px){
  body.menu-open .desna_glava{
    transform: translateX(-200%);
  }
}
@media (max-width: 827px){
  body.menu-open .desna_glava{
    transform: translateX(-220%);
  }
}
@media (max-width: 655px){
  body.menu-open .desna_glava{
    transform: translateX(-0%);
  }
}
@media(max-width: 490px){
  body.menu-open .logo {
    transform: translateX(-150%);
    transition: transform 0.4s ease;
  }
}
.logo{
  position: fixed;
  z-index: 1102;
  left: 2vw;
  width: 10vw;
}
.desna_glava{
  z-index: 1102;
}
.logo img {
  width: 100%;

}
@media(max-width: 930px){
  .logo{
    width: 15vw
  }
}
@media(max-width: 600px){
  .logo{
    width: 20vw;
  }
}
@media(max-width: 430px){
  .logo{
    width: 25vw; 
  }
}





#menu-icon {
  font-size: clamp(24px, 2vw, 120px);
  color: #0033E7;
  cursor: pointer;
  background: #fff;
  padding: 10px;
  font-weight: 100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
  pointer-events: none;
}
.overlay.active {
  display: block;
}



.nav_bar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #9e9e9e;
  padding: 40px 20px;
  transition: right 0.4s ease;
  z-index: 2001;
  display: flex;
  flex-direction: column;
}
.nav_bar.active {
  right: 0;
}
.navlist {
  list-style: none;
  z-index: 1200;
}
.navlist li {
  margin: 20px 0;
    z-index: 1200;
}
.nav_link {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: clamp(14px, 1vw, 150px); 
  z-index: 1200;
  transition: color 0.3s ease;
}
.nav_link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px; /* razmik pod linkom */
  width: 100%;
  height: 2px; /* debelina črte */
  background-color: #000; /* barva podčrtaja */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav_link:hover::after {
  transform: scaleX(1);
}

.language-select {
    background: none;
    border: none;
    font-size: clamp(14px, 1vw, 120px);
    font-weight: 600;
    color: #fff;
}

.language-select:hover{
  cursor: pointer;
}
/*.glava{
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}*/
.glava {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1vw 5vw;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  height: 5vw;
}

/* Ob scrollu */
.glava.scroll {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.glava.scroll #menu-icon {
  color: #fff;
  background: #0033E7;
}

.glava.scroll .language-select {
  color: #0033E7;
}
@media(max-width: 1060px){
  .glava{
    height: 7vw;
  }
}
@media(max-width: 835px){
  .glava{
    height: 9vw;
  }
}
@media(max-width: 707px){
  .glava{
    height: 12vw;
  }
}
@media(max-width: 477px){
  .glava{
    height: 15vw;
  }
}
.desna_glava{
    position: fixed;
    display: flex;
    height: fit-content;
    gap: 2vw;
    padding-right: 2vw;
    z-index:1000;
}
body.menu-open .glava {
  background-color: transparent !important;
  box-shadow: none !important;
}

@media (max-width:655px){
  .nav_bar{
    z-index: 1200;
  }
  .language-select{
    z-index: 3001;
  }
  .desna_glava{
    z-index: 3001;
  }
  .glava{
    z-index: 3001;
  }
  .language-select{
    color: #fff;
    text-shadow: none;
  }
}
@media(max-width: 655px){
  .logo{
    z-index: 1;
  }
}






































































.glava_strani{
    height: 66vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(slike/na_delu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 17.2vw;
}
.naslov_strani{
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 80%;
    width: 45%;
    padding: 2.5vw;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.naslov_strani h1{
    font-size: clamp(24px, 2.3vw, 200px);
    font-weight: 900;
    color: #2d2c2c;
}
.naslov_strani #podnaslov{
    font-size: clamp(10px, 1.1vw, 180px);
    font-weight: 100;
    color: #2d2c2c;
    padding-top: 2vw;
    line-height: 1.5;
}
.naslov_strani #kratek_opis{
    font-size: clamp(8px, .8vw, 180px);
    font-weight: 100;
    color: #2d2c2c;
    padding-top: .8vw;
    line-height: 1.5;
}


@media(max-width: 930px){
  .naslov_strani{
    width: 55%;
    height: 60%;
  }
  .naslov_strani #kratek_opis{
    padding-top: 1.5vw;
  }
}
@media(max-width: 576px){
  .naslov_strani{
    width: 75%;
    height: 55%;
  }
  .naslov_strani #kratek_opis{
    padding-top: 2.5vw;
  }
}




























































main{
    background-image: url(slike/ozadje_main.png);
}
.partnerji{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
.naslov_partnerji{
    width: 100%;
    padding-bottom: 2vw;
}
.naslov_partnerji .naslov{
    width: fit-content;
    padding-left: 26vw;
}
.naslov_partnerji .naslov h1{
    color: #2d2c2c;
    font-size: clamp(22px, 2vw, 150px);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  width: 80%;
}
.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: #fff;
}
.gallery-item img {
  width: 100%;
  display: block;
  transition: filter 0.5s ease;
}
@media(max-width: 800px){
  .gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}











































































.location{
  padding-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}






.telefon, .mail{
  width: fit-content;
}
#LinkedIn{
  font-size: clamp(12px, 1.5vw, 200px);
  padding-top: 1vw;
  color: #000;
}
#LinkedIn:hover{
  color: #0033E7;
  transition: .4s;
}







.footer_devider{
  border: none;
  border-top: 2px solid #787676;
  width: 80%;
  margin: 2rem auto ;
}
.kontakt_noga{
  padding-left: 15vw;
}
.kontakt_noga a{
  text-decoration: none;
  color: #000;
}
.kontakt_noga p{
  color: #525252;
  font-size: clamp(10px, .8vw, 120px);
  padding-bottom: .2vw;
}
.kontakt_noga .lokacija{
  padding-bottom: 1.5vw;
}
.kontakt_noga h1{
  font-size: clamp(24px, 3vw, 120px);
  font-weight: 800;
  padding-bottom: 1vw;
}