* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: 'rubik';
}
#page-wrapper {
  transition: transform 0.4s ease;
  position: relative;
  z-index: 0;
}

body.menu-open #page-wrapper{
  transform: translateX(-12%);
}
main{
    transition: transform .4s ease;
}
body.menu-open main{
    transform: translateX(-12%);
}
.desna_glava{
    transition: transform .4s ease;
    width: fit-content;
}
body.menu-open .desna_glava{
    transform: translateX(-100%);
}
@media (max-width: 1629px){
  body.menu-open .desna_glava{
    transform: translateX(-150%);
  }
}
@media (max-width: 1327px){
  body.menu-open .desna_glava{
    transform: translateX(-170%);
  }
}
@media (max-width: 1185px){
  body.menu-open .desna_glava{
    transform: translateX(-200%);
  }
}
@media (max-width: 827px){
  body.menu-open .desna_glava{
    transform: translateX(-220%);
  }
}
@media (max-width: 655px){
  body.menu-open .desna_glava{
    transform: translateX(-0%);
  }
}
@media(max-width: 490px){
  body.menu-open .logo {
    transform: translateX(-150%);
    transition: transform 0.4s ease;
  }
}
.logo{
  position: fixed;
  z-index: 1102;
  left: 2vw;
  width: 10vw;
}
.desna_glava{
  z-index: 1102;
}
.logo img {
  width: 100%;

}
@media(max-width: 930px){
  .logo{
    width: 15vw
  }
}
@media(max-width: 600px){
  .logo{
    width: 20vw;
  }
}
@media(max-width: 430px){
  .logo{
    width: 25vw; 
  }
}





#menu-icon {
  font-size: clamp(24px, 2vw, 120px);
  color: #0033E7;
  cursor: pointer;
  background: #fff;
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
  pointer-events: none;
}
.overlay.active {
  display: block;
}



.nav_bar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #9e9e9e;
  padding: 40px 20px;
  transition: right 0.4s ease;
  z-index: 2001;
  display: flex;
  flex-direction: column;
}
.nav_bar.active {
  right: 0;
}
.navlist {
  list-style: none;
  z-index: 1200;
}
.navlist li {
  margin: 20px 0;
    z-index: 1200;
}
.nav_link {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: clamp(14px, 1vw, 150px);
  z-index: 1200;
  transition: color 0.3s ease;
}
.nav_link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px; /* razmik pod linkom */
  width: 100%;
  height: 2px; /* debelina črte */
  background-color: #000; /* barva podčrtaja */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav_link:hover::after {
  transform: scaleX(1);
}
.language-select {
    background: none;
    border: none;
    font-size: clamp(14px, 1vw, 120px);
    font-weight: 600;
    color: #fff;
}

.language-select:hover{
  cursor: pointer;
}
/*.glava{
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}*/
.glava {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1vw 5vw;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  height: 5vw;
}

/* Ob scrollu */
.glava.scroll {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.glava.scroll #menu-icon {
  color: #fff;
  background: #0033E7;
}

.glava.scroll .language-select {
  color: #0033E7;
}
@media(max-width: 1060px){
  .glava{
    height: 7vw;
  }
}
@media(max-width: 835px){
  .glava{
    height: 9vw;
  }
}
@media(max-width: 707px){
  .glava{
    height: 12vw;
  }
}
@media(max-width: 477px){
  .glava{
    height: 15vw;
  }
}
.desna_glava{
    position: fixed;
    display: flex;
    height: fit-content;
    gap: 2vw;
    padding-right: 2vw;
    z-index:1000;
}
body.menu-open .glava {
  background-color: transparent !important;
  box-shadow: none !important;
}

@media (max-width:655px){
  .nav_bar{
    z-index: 1200;
  }
  .language-select{
    z-index: 3001;
  }
  .desna_glava{
    z-index: 3001;
  }
  .glava{
    z-index: 3001;
  }
  .language-select{
    color: #fff;
    text-shadow: none;
  }
}
@media(max-width: 655px){
  .logo{
    z-index: 1;
  }
}








































.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-slide {
  position: absolute;
  /*background-image:
    linear-gradient(to right, rgba(62, 118, 221, 0.8) 0%, rgba(136, 136, 136, 0) 50%, rgba(62, 118, 221, 0.8) 100%),
    var(--slide-image);*/
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* 0.4 pomeni 40 % zatemnitev */
  z-index: 0;
}

.hero-slide.active {
  opacity: 1;
  z-index: 1;
}

.hero-content {
  color: #fff;
  text-align: center;
  padding: 2vw;
  border-radius: 10px;
  max-width: 90%;
  animation: fadeIn 1s ease;
  transition: opacity 0.1s linear, transform 0.1s linear;
  will-change: opacity, transform;
}

.hero-content h1 {
  font-size: clamp(30px, 7vw, 220px);
  margin-bottom: 1vw;
  font-weight: 700;
  font-variant: small-caps;
  text-shadow: 0 0 3px #fff;
}

.hero-content p {
  font-size: clamp(14px, 1.5vw, 120px);
  color: #fff;
}

.hero-content h1,
.hero-content p {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.hero-slide.active .hero-content h1,
.hero-slide.active .hero-content p {
  opacity: 1;
  transform: translateY(0);
}
.hero-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 5vw;
}

.hero-btn {
  background: none;
  border: none;
  background-color: #0033E7; ;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  height: 15px;
  width: 15px;
  
}

.hero-btn:hover{
    height: 20px;
    width: 20px;
    transition: .2s;
}
.hero-btn.active {
    height: 20px;
    width: 20px;
    border: 2px solid #0033E7;
    background: none;
    transition: .2s;
}







.hero_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 0.5 = 50% zatemnitev */
  z-index: 1;
}

@media (max-width: 1397px) {
  .hero-slide.prvi-slide {
    background-size: 25% 100%, 25% 100%, 50% 100%, 25% 100%, 25% 100% !important;
  }
}
@media (max-width: 1151px) {
  .hero-slide.prvi-slide {
    background-size: 20% 100%, 20% 100%, 60% 100%, 20% 100%, 20% 100% !important;
  }
}
@media (max-width: 990px) {
  .hero-slide.prvi-slide {
    background-size: 15% 100%, 15% 100%, 70% 100%, 15% 100%, 15% 100% !important;
  }
}
@media (max-width: 839px) {
  .hero-slide.prvi-slide {
    background-size: 10% 100%, 10% 100%, 80% 100%, 10% 100%, 10% 100% !important;
  }
}
@media (max-width: 727px) {
  .hero-slide.prvi-slide {
    background: url("slike/skid.png") center center / cover no-repeat !important;
  }
}






























.storitve{
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
  top: 0;
  align-items: center;
  background: #f2f1f8;
}
.storitve2{
  display: flex;
  height: 50vh;
  align-items: center;
  background: #f2f1f8;
}
.crta{
  background:#adacac ;
  width: 1px;
  border-radius: 50%;
  height: 40vh;
  z-index: 1200;
}
.storitve h2{
  font-size: clamp(14px, 2.5vw, 120px);
  font-weight: 800;
  padding-top: 4vw;
  padding-left: 2vw;
  padding-bottom: 1vw;
}
.storitve2 h2{
  font-size: clamp(14px, 2.5vw, 120px);
  font-weight: 800;
  padding-top: 4vw;
  padding-left: 2vw;
  padding-bottom: 1vw;
}

.Kemijska_industrija #opis_panoge, .Farmacevtska_industrija #opis_panoge{
  font-size: clamp(12px, 1vw, 120px);
  color: #6b6b6b;
  font-weight: 100;
  padding-left: 2vw;
  padding-right: 10vw;
}
.Prehrambena_industrija #opis_panoge{
  font-size: clamp(12px, 1vw, 120px);
  color: #6b6b6b;
  font-weight: 100;
  padding-left: 2vw;
  padding-right: 10vw;
}
.Kemijska_industrija, .Farmacevtska_industrija{
  width: 50%;
  height: 100%;
  padding-left: 5vw;
  padding-bottom: 4vw;
}
.Prehrambena_industrija{
  width: 50%;
  height: 100%;
  padding-left: 5vw;
}
.gumb{
  display: flex;
  padding-left:2vw;
  align-items: center;
  gap: 1rem;
  padding-top: 2vw;
}
.gumb button{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border:none;
  background: #0033E7;
  color: #fff;
  font-size: 1.5vw;
}
.gumb button:hover{
  cursor: pointer;
}
.gumb a #vec:hover{
  color: #0033E7;
  transition: .3s;
}
.gumb a:first-child:hover ~ a .vec {
  color: #0033E7;
  transition: .3s;
}

.gumb a #vec{
  color: #000;
  font-size: clamp(12px, .83vw, 50px);
}
.gumb a{
  text-decoration: none;
}

.slika_vmes{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url(slike/gospodarske_panoge.png);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kocka{
  width: 5vw;
  height: 5vw;
  background-color: #f2f1f8;
  transform: rotate(45deg);
  margin-top: -2.5%;
}
.kocka2{
  width: 5vw;
  height: 5vw;
  background-color: #f2f1f8;
  transform: rotate(45deg);
  margin-bottom: -2.5%;
}
.text{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 0 3px #fff;
}

.text #panoge{
  font-size: clamp(20px, 6.5vw, 250px);
}
@media(max-width: 957px){
  .storitve, .storitve2{
    height: 40vh;
  }
}
@media(max-width: 466px){
  .storitve{
    height: 45vh;
  }
}
@media(max-width: 466px){
  .storitve2{
    height: 45vh;
  }
}
@media(max-width: 401px){
  .storitve{
    height: 50vh;
  }
}
@media(max-width: 364px){
  .storitve2{
    height: 47vh;
  }
}
@media(max-width: 885px){
  .gumb button{
    width: 2.5vw;
    height: 2.5vw;
    font-size: 2vw;
  }
}
@media(max-width: 757px){
  .gumb button{
    width: 3vw;
    height: 3vw;
  }
}
@media(max-width: 650px){
  .gumb button{
    width: 3.5vw;
    height: 3.5vw;
  }
}
@media(max-width: 578px){
  .gumb button{
    width: 4vw;
    height: 4vw;
  }
}
@media(max-width: 500px){
  .gumb button{
    width: 4.5vw;
    height: 4.5vw;
  }
}
@media(max-width: 450px){
  .gumb button{
    width: 5vw;
    height: 5vw;
  }
}
















































.storitev-map {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(slike/storitve.png); /* zamenjaj z ustrezno sliko */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.storitev-naslov {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: clamp(30px, 5vw, 200px);
  font-weight: bold;
  text-align: center;
  z-index: 0;
  pointer-events: none;
  text-shadow: 0 0 3px #fff;
}

.storitev-item {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.storitev-title {
  font-weight: bold;
  font-size: clamp(12px, 1.2vw, 50px);
  color: white;
  display: block;
  margin-bottom: 8px;
}

.storitev-toggle {
  display: inline-block;
  font-size: clamp(14px, 1vw, 50px);
  font-weight: 600;
  background-color: #fff;
  color: #0033E7;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  transition: background-color 0.3s;
  position: relative;
  z-index: 1;
}

.storitev-description {
  position: absolute;
  top: 100%; /* premaknemo oblaček pod plusek */
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background: #fff;
  color: #000;
  padding: 10px 15px;
  border-radius: 8px;
  width: 15vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  white-space: normal;
  font-size: clamp(8px, .7vw, 20px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.st1{
 top: 20%; 
 left: 25%;
}
.st2{
  top: 20%; 
  left: 55%;
}
.st3{
  top: 70%; 
  left: 30%;
}
.st4{
  top: 30%;
  left: 85%;
}
.st5{
  top: 70%;
  left: 85%;
}
.st6{
  top: 70%; 
  left: 55%;
}
.st7{
  top: 60%; 
  left: 10%;
}
/* Puščica obrnjena navzgor */
.storitev-description::after {
  content: "";
  position: absolute;
  bottom: 100%; /* puščica na vrhu oblačka */
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

/* Animacija prikaza */
.storitev-item:hover .storitev-description,
.storitev-toggle:hover + .storitev-description {
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}
@media (max-width: 750px){
  .storitev-description{
    width: 20vw;
  }
}
@media(max-width: 580px){
  .st1{
   top: 15%; 
   left: 20%;
  }
  .st2{
    top: 10%; 
    left: 55%;
  }
  .st3{
    top: 50%; 
    left: 20%;
  }
  .st4{
    top: 25%;
    left: 80%;
  }
  .st5{
    top: 55%;
    left: 80%;
  }
  .st6{
    top: 70%; 
    left: 55%;
  }
  .st7{
    top: 80%; 
    left: 30%;
  }
  .storitev-description{
    width: 25vw;
  }
}
@media(max-width: 455px){
  .st1{
   top: 15%; 
   left: 25%;
  }
  .st2{
    top: 10%; 
    left: 55%;
  }
  .st3{
    top: 50%; 
    left: 20%;
  }
  .st4{
    top: 25%;
    left: 80%;
  }
  .st5{
    top: 55%;
    left: 80%;
  }
  .st6{
    top: 80%; 
    left: 70%;
  }
  .st7{
    top: 80%; 
    left: 30%;
  }
  .storitev-description{
    width: 30vw;
  }
}
@media(max-width: 379px){
  .st1{
   top: 15%; 
   left: 25%;
  }
  .st2{
    top: 10%; 
    left: 55%;
  }
  .st3{
    top: 50%; 
    left: 20%;
  }
  .st4{
    top: 25%;
    left: 80%;
  }
  .st5{
    top: 53%;
    left: 80%;
  }
  .st6{
    top: 80%; 
    left: 70%;
  }
  .st7{
    top: 80%; 
    left: 20%;
  }
  .storitev-description{
    width: 32vw;
  }
}
@media(max-width: 397px){
  .storitev-map{
    height: 85vh;
  }
}
@media(max-width: 386px){
  .storitev-map{
    height: 92vh;
  }
}





















































































.onas{
  display: flex;
  flex-direction: column;
  padding-top: 5vw;
  padding-bottom: 2vw;
}
.onas_text{
  display: flex;
  flex-direction: column;
  padding-left: 15vw;
  padding-bottom: 5vw;
  padding-right: 15vw;
  text-align: justify;
  gap: .3vw;
}
.onas_text a{
  color: #0033E7;
  text-decoration: none;
}
.onas_text a p{
  font-size: clamp(12px, 1vw, 150px);
  font-weight: 100;
  display: flex;
  gap: .5vw;
  padding-top: 1vw;
}
.onas_text a i{
  font-size: clamp(14px, 1.5vw, 150px);
}
#naslov_zakaj_mi{
  padding-top: 1.5vw;
  padding-bottom: .5vw;
  font-size: clamp(12px, 1.5vw, 120px);
  font-weight: 500;
}
.onas_text p{
  font-size: clamp(10px, .9vw, 120px);
  display: flex;
  line-height: 1.7;
  font-weight: 100;
}
.text1_onas{
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
.onas .naslov_onas{
  padding-bottom: 2vw;
}
.onas .naslov_onas h2{
  font-size: clamp(16px, 2vw, 120px);
  font-weight: 700;
  padding-left: 15vw;
}
.onas1{
  display: flex;
  justify-content: space-evenly;
}
.accordion {
  width: 45%;
  border-top: 1px solid #ddd;

}

.accordion-item {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.accordion-content a p:hover{
  color: #0033E7;
  transition: .5s ease;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 1em;
  cursor: pointer;
  background: #fff;
}

.accordion-header h3 {
  margin: 0;
  font-size: clamp(12px, 1vw, 120px);
  font-weight: 500;
}

.toggle-btn {
  background: #fff;
  border: 1px solid #8AAAE5;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 1em;
  background: #f9f9f9;
  font-size: clamp(10px, .8vw, 50px);
}
.accordion-content a{
  text-decoration: none;
  color: #000;
}
.accordion-item.active .accordion-content {
  max-height: 1000px;
  padding: 1em;
  display: block;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-top: 1em;
}

.links li {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}

#accordion-image.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}
#accordion-image {
  transition: opacity 0.4s ease;
}

/* Besedilo v akordeonu */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease, opacity 0.9s ease;
}

/* Plus/križec animacija */
.toggle-btn {
  transition: transform 0.4s ease;
  font-size: clamp(14px, 2vw, 120px);
  background: none;
  border: none;
  cursor: pointer;
  color: #8AAAE5;
}

.slika_btinox {
  text-align: center;
  width: 40%;
}

.slika_btinox img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.4s ease;
  padding-inline-start: 2vw;

}

@media(max-width: 790px){
  .onas1{
    flex-direction: column;
    align-items: center;
    gap: 5vw;
  }
  .accordion{
    width: 80%;
  }
  .slika_btinox{
    width: 80%;
  }
}

.kontakt_obr_in_kontakti{
  display: flex;
  justify-content: space-evenly;
}
.kontaktni_obr{
  width: 50%;
}





.zaposlitev {
  cursor: pointer;
  display: flex;
  font-weight: bold;
  padding-left: 5vw;
  gap: .5vw;
  color: #0033E7;
  font-size: clamp(10px, 1vw, 50px);
}

.zaposlitev .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  color: #0033E7;
}

.zaposlitev.open .arrow {
  transform: rotate(90deg); /* puščica obrnjena dol */
}

.zaposlitev-content {
  display: none;
  margin-top: 8px;
  padding: 8px;
  border-radius: 5px;
  padding-left: 5vw;
  padding-right: 7vw;
  font-size: clamp(10px, 1vw, 50px);
  font-weight: 100;
}

.prvi_link:has(.zaposlitev.open) + .zaposlitev-content {
  display: block;
}
.mali_linki{
  display: flex;
  flex-direction: column;
  padding-top: 1vw;
}

.na_delu{
  cursor: pointer;
  display: flex;
  font-weight: bold;
  padding-left: 5vw;
  gap: .5vw;
  color: #0033E7;
  font-size: clamp(10px, 1vw, 50px);
}
.na_delu_2{
  display: flex;
  gap: .5vw;
  text-decoration: none;
  color: #0033E7;
}
.prvi_link{
  display: flex;
}

@media(max-width: 790px){
  .mali_linki{
    padding-top: 5vw;
    padding-left: 7vw;
  }
}




















.slider {
  padding-top: 2vw;
  padding-bottom: 5vw;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-track {
  display: flex;
  align-items: center;
  animation: scroll 90s linear infinite;
  gap: 5vw;

}



.slika {
  transition: transform 1s ease;
  opacity: 70%;
  width: 10vw;
  height: 9.5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.krka{
  transition: transform 1s ease;
  opacity: 70%;
  width: 13vw;
  height: 8vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.gsk{
  transition: transform 1s ease;
  opacity: 70%;
  width: 8vw;
  height: 9.5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.novartis{
  transition: transform 1s ease;
  opacity: 70%;
  width: 17vw;
  height: 7vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lek{
  transition: transform 1s ease;
  opacity: 70%;
  width: 10vw;
  height: 9vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.takeda{
  transition: transform 1s ease;
  opacity: 70%;
  width: 12vw;
  height: 9vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.Lactalis{
  transition: transform 1s ease;
  opacity: 70%;
  width: 12vw;
  height: 9vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.slika img, .krka img, .gsk img, .novartis img, .lek img, .takeda img, .Lactalis img{
  width: 100%;
  height: 100%;
}

.slika:hover, .krka:hover, .gsk:hover, .novartis:hover, .lek:hover, .takeda:hover, .Lactalis:hover{
  transform: scale(1.1);
  opacity: 100%;
  transition: .3s;
}

/* Animacija za neskončno drsenje */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media(max-width: 900px){
  .slika {
    transition: transform 1s ease;
    opacity: 70%;
    width: 15vw;
    height: 13.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .krka{
    transition: transform 1s ease;
    opacity: 70%;
    width: 17vw;
    height: 9vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .gsk{
    transition: transform 1s ease;
    opacity: 70%;
    width: 12vw;
    height: 12.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .novartis{
    transition: transform 1s ease;
    opacity: 70%;
    width: 30vw;
    height: 10.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lek{
    transition: transform 1s ease;
    opacity: 70%;
    width: 15vw;
    height: 12vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .takeda{
    transition: transform 1s ease;
    opacity: 70%;
    width: 21vw;
    height: 13vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .Lactalis{
    transition: transform 1s ease;
    opacity: 70%;
    width: 19vw;
    height: 12vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
}























.location{
  padding-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}






.telefon, .mail{
  width: fit-content;
}
#LinkedIn{
  font-size: clamp(12px, 1.5vw, 200px);
  padding-top: 1vw;
  color: #000;
}
#LinkedIn:hover{
  color: #0033E7;
  transition: .4s;
}







.footer_devider{
  border: none;
  border-top: 2px solid #787676;
  width: 80%;
  margin: 2rem auto ;
}
.kontakt_noga{
  padding-left: 15vw;
}
.kontakt_noga a{
  text-decoration: none;
  color: #000;
}
.kontakt_noga p{
  color: #525252;
  font-size: clamp(10px, .8vw, 120px);
  padding-bottom: .2vw;
}
.kontakt_noga .lokacija{
  padding-bottom: 1.5vw;
}
.kontakt_noga h1{
  font-size: clamp(24px, 3vw, 120px);
  font-weight: 800;
  padding-bottom: 1vw;
}